# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# build output
dist/

#pnpm lockfile
pnpm-lock.yaml

#npm lockfile
package-lock.json

# example build output
example/main.js
